@charset "ISO-8859-1";

@font-face {
  font-family: "Poppins-Regular";
  src: url("fonts/poppins/Poppins-Regular.ttf"); }
@font-face {
  font-family: "Poppins-SemiBold";
  src: url("fonts/poppins/Poppins-SemiBold.ttf"); }

body{
	background-color: #4C0013;
	padding : 0;
	background: url(../images/fondo.jpg);
	background-size: cover;
  	background-position: center center;
  	background-repeat: no-repeat;
  	background-attachment: fixed;
}
	
table{
	border: 5px solid gold;
	border-collapse: collapse;
	margin: 0 auto;
}


th, td{
	padding: 15px;
}

.loginbox{
	width: 320px;
	height: 420px;
	background: #4C0013;
	color: #fff;
	box-sizing: border-box;
	padding: 30px 30px;
}

.loginbox p{
	margin: 0;
	padding: 0;
	font-weight: bold;
}

.loginbox input{
	width: 100%;
	margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}

.loginbox input[type="submit"]{
	border: none;
	outline: none;
	height: 40px;
	background: #fb2525;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
}

.loginbox input[type="submit"]:hover{
	cursor: pointer;
	background: #8a2be2;
	color: #000;
}

.loginbox a{
	text-decoration: none;
	font-size: 15px;
	line-height: 20px;
	color: gold;
}

.wrapper {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center; }


